---
layout: default
title: Publications
permalink: /publications/
description: "Full publication list of Nika Mansouri Ghiasi."
---

<section class="section section--top">
  <div class="container">
    <h1 class="page__title">Publications</h1>
    <p class="page__lede">
      Also on <a href="{{ site.scholar }}">Google Scholar</a>.
    </p>

    <h2 class="sub">Research Summary and Initiative Papers</h2>
    <ul class="pubs">
      {% for pub in site.data.overview %}
        {% include pub-item.html pub=pub %}
      {% endfor %}
    </ul>

    <h2 class="sub">Papers</h2>
    {% for group in site.data.publications %}
    <h2 class="year">{{ group.year }}</h2>
    <ul class="pubs">
      {% for pub in group.items %}
        {% include pub-item.html pub=pub %}
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</section>
